project:
  type: website

website:
  title: "Personal Website"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
      - cosmo
      - brand
    css: styles.css
    toc: true



